%section{:id => "post-#{post.id}"}
  .post.contain
    - if post.external?
      %h1.external
        - if @single_post
          = link_to post.title, post.url
        - else
          = link_to post.title, post.url
        = link_to '⚓', post.slug, :class => 'permalink'
    - else
      %h1
        - if @single_post
          = post.title
        - else
          = link_to post.title, post.slug
    - if post.has_more_tag && !@single_post && !@preview
      - if post.excerpt
        = markdown(post.excerpt).to_html.html_safe
      = link_to "Continue Reading →", post.slug, :class => "button"
    - else
      - if post.content
        = markdown(post.content).to_html.html_safe
    - if is_admin?
      %ul.actions
        %li= link_to 'Edit', '/edit/' + post.id.to_s unless @preview
  - if @single_post
    %a.button.space-top{:href => root_url} Back to Blog
